# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: topiary

on:
  push:
    branches: [ main   ]
  pull_request:
    branches: [ main   ]

jobs:
  build-nix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10' ]

    steps:
    - name: checkout
      uses: actions/checkout@v3.0.0

    - name: Setup MPI
      uses: mpi4py/setup-mpi@v1
      with:
          mpi: openmpi

    - name: set up miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: topiary
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false

    - name: install topiary
      shell: bash -l {0}
      run: |
        # platform specific packages
        conda install -c conda-forge -c bioconda "openmpi<4.1.3" "muscle>=5.0" "raxml-ng>=1.1" "generax>=2.0" "blast>=2.2" "mpi4py"
        python -m pip install . -vv

    - name: run flake8
      shell: bash -l {0}
      run: |
        conda install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: run pytest
      shell: bash -l {0}
      run: |
        conda install pytest
        export PATH=`which conda | xargs dirname`/envs/topiary/bin/:$PATH
        pytest

  build-windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python-version: ['3.8', '3.9', '3.10' ]

    steps:
    - name: checkout
      uses: actions/checkout@v3.0.0

    - name: set up miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: topiary
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false

    - name: install topiary
      shell: pwsh
      run: |
        python -m pip install . -vv

    - name: run flake8
      shell: pwsh
      run: |
        conda install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: run pytest
      shell: pwsh
      run: |
        conda install pytest
        $Env:PATH = "C:\Miniconda3\Scripts\;$Env:PATH"
        pytest
